---
import { translate, type Language } from "../i18n";
import Layout from "../components/Layout.astro";
import Aside from "../components/Aside.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import FollowArrow from "../logos/FollowArrow.astro";
import { parseExperience, parseProjects } from "../parsers";

import experience from "../resources/experience.json";
import projects from "../resources/projects.json";
import Header from "../components/Header.astro";

const companies = [
    "agilean",
    "pinax",
    "flo",
    "cleio",
    "agc",
] satisfies (keyof typeof experience)[];

const projectIds = [
    "saum",
    "satisfactory",
    "trampolineintercite",
    "cribbage",
] satisfies (keyof typeof projects)[];

const keys = {
    en: {
        sections: {
            about: "About",
            experience: "Experience",
            projects: "Projects",
        },
        experience: parseExperience("en", experience),
        projects: {
            ...parseProjects("en", projects, projectIds),
            registry: "View all projects",
        },
    },
    fr: {
        sections: {
            about: "À propos",
            experience: "Expérience",
            projects: "Projets",
        },
        experience: parseExperience("fr", experience),
        projects: {
            ...parseProjects("fr", projects, projectIds),
            registry: "Voir tous les projets",
        },
    },
};

const t = translate(keys, Astro.currentLocale);
---

<Layout>
    <Header />

    <div id="content">
        <Aside />

        <main>
            <section id="about">
                <h2>{t("sections.about")}</h2>
                <About />
            </section>

            <section id="experience">
                <h2>{t("sections.experience")}</h2>

                <ul>
                    {
                        companies.map((company) => (
                            <ExperienceCard
                                start={t(`experience.${company}.start`)}
                                end={t(`experience.${company}.end`)}
                                title={t(`experience.${company}.title`)}
                                company={t(`experience.${company}.company`)}
                                url={t(`experience.${company}.url`)}
                                subtitle={t(`experience.${company}.subtitle`)}
                                tags={experience[company].tags}
                            >
                                {/* No XSS risks since everything is built locally once with local data. */}
                                <Fragment
                                    set:html={t(
                                        `experience.${company}.description`,
                                    )}
                                />
                            </ExperienceCard>
                        ))
                    }
                </ul>
            </section>

            <section id="projects">
                <h2>{t("sections.projects")}</h2>

                <ul>
                    {
                        projectIds.map((projectId) => (
                            <ProjectCard
                                id={projectId}
                                title={t(`projects.${projectId}.title`)}
                                subtitle={t(`projects.${projectId}.subtitle`)}
                                tags={projects[projectId].tags}
                                img={projects[projectId].img}
                                showcases={projects[projectId].showcases.map(
                                    (showcase) => ({
                                        ...showcase,
                                        cta: showcase.cta[
                                            Astro.currentLocale! as Language
                                        ],
                                    }),
                                )}
                            >
                                {/* No XSS risks since everything is built locally once with local data. */}
                                <Fragment
                                    set:html={t(
                                        `projects.${projectId}.description`,
                                    )}
                                />
                            </ProjectCard>
                        ))
                    }
                </ul>

                <a class="view-more" href="projects/">
                    <span>
                        {t("projects.registry")}
                    </span>
                    <span>
                        <FollowArrow
                            style={{ width: "1.5em", height: "1.5em" }}
                        />
                    </span>
                </a>
            </section>
        </main>

        <Footer />
    </div>
</Layout>

<style lang="scss">
    main {
        display: grid;
        gap: 2em;
        padding-bottom: 5em;
    }

    section {
        h2 {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 700;
            padding: 1em 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .view-more {
            display: flex;
            text-decoration: none;
            padding-top: 1.5em;
            color: #7a7a7a;
            align-items: center;
            gap: 0.25em;
            transition: all ease 200ms;

            span {
                font-weight: 500;
                color: #7a7a7a;
                transition: all ease 200ms;
            }

            &:hover,
            &:focus,
            &:focus-visible {
                &,
                span {
                    color: #303030;
                }

                span:last-of-type {
                    transform: translate(0.15em, -0.15em);
                }
            }
        }
    }

    @media (min-width: 50rem) {
        #content {
            display: grid;
            grid-template-columns: 22.5rem minmax(auto, 37.5rem);
            justify-content: space-around;
            max-width: 100rem;
            margin: 0 auto;
            gap: 2rem;
        }

        main {
            padding-top: 3em;
        }
    }

    @media (min-width: 56rem) {
        #content {
            gap: 0 5rem;
        }
    }
</style>
