---
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
import GitHub from "../logos/Github.astro";
import Link from "../logos/Link.astro";
import { translate } from "../i18n";
import Footer from "../components/Footer.astro";

interface Props {
    frontmatter: {
        title: string;
        website?: string;
        repo?: string;
        tags?: string;
    };
    children: any;
}

const t = translate(
    {
        en: { github: "Open GitHub repo", link: "View project" },
        fr: {
            github: "Consulter le répertoire GitHub",
            link: "Consulter le projet",
        },
    },
    Astro.currentLocale,
);

const {
    frontmatter: { title, website = "", repo = "" },
} = Astro.props;

const tags = (Astro.props.frontmatter.tags ?? "")
    .split(",")
    .filter((tag) => tag.length > 0);
---

<Layout title={title}>
    <article>
        <Header title={title} navigation>
            {
                repo.length + website.length > 0 && (
                    <div id="related-links">
                        {repo.length > 0 && (
                            <a
                                href={repo}
                                title={t("github")}
                                aria-label={t("github")}
                            >
                                <GitHub />
                            </a>
                        )}

                        {website.length > 0 && (
                            <a
                                href={website}
                                title={t("link")}
                                aria-label={t("link")}
                            >
                                <Link />
                            </a>
                        )}
                    </div>
                )
            }
        </Header>

        {
            tags.length > 0 && (
                <ul id="tags">
                    {tags.map((tag) => (
                        <li>{tag}</li>
                    ))}
                </ul>
            )
        }

        <slot />
    </article>

    <Footer center />
</Layout>

<style lang="scss" is:global>
    #related-links {
        display: flex;
        gap: 0.3em;
        font-size: 0.8em;

        a {
            display: block;
            color: #303030;
            width: 2em;
            height: 2em;
        }
    }

    #tags {
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        margin: 0;
        list-style-type: none;
        display: flex;
        gap: 0.25em;
        flex-wrap: wrap;

        li {
            color: #7a7a7a;
            padding: 0.1em 0.25em;
            border: 1px solid #7a7a7a;
            border-radius: 3em;
            font-size: 0.8em;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    h2 {
        padding-top: 0.5em;
        font-size: 1.2em;
        font-weight: 600;
    }

    h3 {
        font-size: 1em;
    }

    ul.contains-task-list {
        list-style-type: none;
        padding: 0 0.5em;
    }

    li {
        padding-top: 0.1em;
    }

    article {
        text-align: justify;
        padding-bottom: 15vh;
        min-height: calc(100vh - 8em);
    }

    img {
        display: block;
        margin: 0 auto;
        border: 1px solid black;
        max-width: min(100%, 600px);
    }

    img + em {
        display: block;
        text-align: center;
        padding-top: 0.2em;
    }

    p:has(> img),
    table {
        padding-bottom: 1em;
    }

    table {
        display: block;
        width: fit-content;
        margin: 0 auto;
        table-layout: fixed;
        border-collapse: collapse;
    }

    thead {
        border-bottom: 1px solid black;
    }

    tr:first-of-type td {
        padding-top: 0.4em;
    }

    th,
    td {
        padding: 0.2em 0.5em;

        &:not(:last-of-type) {
            border-right: 1px solid black;
        }
    }

    @media (min-width: 50rem) {
        #related-links {
            gap: 0.6em;
        }

        body {
            max-width: 60rem;
            margin: 0 auto;
        }
    }
</style>
